body{
    background-color: #f1f1f1;
}

.col{
    flex: 0.2 0 0%;
}

.starter-template{
    padding: 3rem 1.5rem;
}

.btn{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.card{
    height: 450px;
    width: 200px;
    box-shadow: 0 10px 15px -5px black;
}

.card-img-top{
    height: 180px;
}

.card-body{
    padding: 20px 8px 20px 8px;
}

.card-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-text:last-child{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Navbar */
li{
    border-radius: 10px;
}

/* Estilos para AboutMain */
.img-app{
    width: 100%;
    border-radius: 10px;
}

/* Estilos para AboutUs */
.container-nosotros img{
    border-radius: 50%;
    width: 80%;
    height: 200px;
}

@media (max-width: 445px){
    header{
        flex-direction: column;
    }

    header>a{
        justify-content: center;
    }

    .col{
        flex: none;
        width: 80%;
    }

    .card{
        height: auto;
        width: auto;
    }

    .card-img-top{
        height: 180px;
    }
}

@media (max-width: 765px){
    .row{
        justify-content: center;
    }
}